@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  min-height: 100vh;
  /*background-image: url("/1.webp");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.terminal {
  background-color: rgba(255, 255, 255, 0.59);
  backdrop-filter: blur(2px);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0);
}
.terminal-content {
  height: 100%; /* Allow content to occupy full height */
}

.terminal-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:20px;
  position: relative;
  
}



.container {
  display: flex;          /* Enable flexbox layout */
  flex-direction: column; /* Arrange items vertically */
  gap: 3px;
}


.line-1{
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 250%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  /*transform: translateY(-50%);*/
  color: white;
  font-family: 'Courier New' ,sans-serif !important;
  align-items: center;  /* Align vertically to the center */
  height: 100%;
}

.shutter-up {
  animation: shutterUpAnimation 1s forwards; /* Adjust animation duration */
}

@keyframes shutterUpAnimation {
  0% {
    opacity: 1;
  }

  100% {
    transform: translateY(-100vh); /* Slide the content up and out of view */
    opacity: 0;
  }
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
  blinkTextCursor 500ms steps(44) normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 32em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}


.video-container {
  position: relative; /* Stack video and image elements */
  width: 100%; /* Stretch container to fill viewport */
  height: 100vh; /* Fill viewport height */
  overflow: hidden; /* Prevent video overflow */
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Stretch video to fill container */
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.95; /* Adjust transparency here */
}
.commandPrompt {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the prompt */
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  font-family: "Courier New", serif;
  color: #00FF00; /* Classic green text */
  padding: 20px;
  border: 2px solid #00FF00;
  min-width: 30%;
  min-height: 200px;
}

.prompt { /* Styles for the C:\> prompt */
  margin-right: 5px;
}

.text1 {
  font-family: 'Candara', sans-serif; 
  font-weight: bolder; 
  color: #1a1a1a; 
  text-transform: uppercase; 
  text-align: center; 
  font-size: 100px;
  margin:-40px;
}

.text2 {
  font-family: 'Segoe UI', sans-serif; 
  font-weight: normal; 
  color: #333; 
  text-align: center; 
  position: relative;
  font-style: italic;
  font-size: 25px;
  left:11%
}

.text3 {
  font-family: 'Roboto', sans-serif; 
  color: #666; 
  font-size: 18px; 
  line-height: 1.6; 
  text-align: center;
}

.animated-text {
  /* background: linear-gradient(45deg, #00d0ff, #187687, #055885, #FF1500, #FF0000, #FF1500, #FF4200, #FF7700, #FFC700); */
  /* background: linear-gradient(45deg, #85d7ff, #659cff, #5181b3, #3c668b, #274c62, #3c668b, #5181b3, #659cff, #85d7ff); */
  background: linear-gradient(45deg, #0d87c4, #893a3a, #3c7605, #e68a09, #860f1f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 100%;
  animation: gradient-text-animation 5s infinite;
}

@keyframes gradient-text-animation {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.images-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.left-image,
.right-image {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.left-image {
  margin-right: 10px; /* Adjust spacing as needed */
}

.right-image {
  margin-left: 10px; /* Adjust spacing as needed */
}


.login-box {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: rgba(98, 99, 143, 0.67);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgb(90, 189, 129);
}

.login-container {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 300px; /* Adjust width as needed */
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
  border: 1px solid #ccc;
}

.form-group input::placeholder {
  color: #666; /* Placeholder text color */
}

button {
  width: 320px; /* Adjust width as needed */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}


.center-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 50%;
  /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0); */
  width: 100px; /* Adjust size as needed */
}


.commandPrompt {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: 2px solid #00ffdb;
  border-radius: 5px;
  opacity: 0.5;
  /* position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%); */
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00ffdb; /* Windows blue */
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.window-header-buttons {
  display: flex;
  gap: 5px;
}

.window-header-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff5f56; /* Red */
}

.window-title {
  font-weight: bold;
  color: #000;
}