/* styles.css */
.container {
    position: relative; /* For positioning background and content */
    width: 100%;
    height: 100vh;
    overflow: hidden;  /* Prevent scrollbars on full-screen */
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/your-background-image.jpg');
    background-size: cover;
    background-position: center;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* For horizontal layout of two halves */
}

.terminalSection {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent */
    /* ... more styling for terminal box */
}

.animationSection {
    width: 50%;
    /* ... more styling for animation area */
}

.mobile-box {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 120px;
    background-color: black; /* Example color */
    border-radius: 10px;
}

.ball {
    position: absolute;
    top: -20px;  /* Initially out of view */
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-color: #ff6666; /* Example color */
    border-radius: 50%;
}

.bucket {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 50px;
    background-color: #ccc; /* Example color */
    border-radius: 5px;
}
